<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Remover</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <a class="homeIcon" href="/"><ion-icon name="home-outline"></ion-icon></a>

    <div class="otherBody body">
        <h1> BACKGROUND REMOVER </h1>

        <% if (locals.imgURL) { %>
            <h2> <%= imgURL %> </h2>
            <img src="tmp/<%= imgURL %>" alt="Uploaded Image" width="30%">
        <% } %>

        <form id="imgForm" method="POST" action="/removeBg">
            <input id="imgURL" type="text" name="imgURL" value="<%=imgURL%>">
            <input class="submitButton" type="submit" value="Remove Background">
        </form>
    </div>
</body>

<footer>
    <h2 class="footerText footerTextTop"> Copyright 2023 © </h2>
    <h2 class="footerText"> Developed by Artemijs Matusevs </h2>
</footer>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</html>